.todo-items {
    width: 100%;
    height: 50vh;
    overflow: scroll;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.col {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}