@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #212429;
    --h1-text: 'Varela Round', sans-serif;
}


.nav-row {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
}


.nav-left ul {
    display: flex;

}

.nav-left ul li {
    padding: 20px;
    list-style: none;
}

.nav-left ul li a {
    text-decoration: none;
    color: var(--text-color);
}